<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression" parallel="tests" >

    <test name="Regression1">
        <groups>
            <run>
                <include name="Regression1" />
            </run>
        </groups>
        <classes>
            <class name="SwoopTest" />
        </classes>
    </test>

    <test name="Regression2">
        <groups>
            <run>
                <include name="Regression2" />
            </run>
        </groups>
        <classes>
            <class name="SwoopTest" />
        </classes>
    </test>


</suite>